@page
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Extensions.Localization
@using Snow.RegionManagement.Localization
@using Snow.RegionManagement.Permissions
@using Snow.RegionManagement.Web.Pages.Regions
@model IndexModel
@inject IAuthorizationService Authorization
@inject IStringLocalizer<RegionManagementResource> L
@{ }
@section styles{ 
    <abp-style-bundle name="@typeof(IndexModel).FullName">
        <abp-style src="/libs/ztree/css/zTreeStyle/zTreeStyle.css" />
        <abp-style src="/css/treeSelectStyle.css" />
    </abp-style-bundle>
}
@section scripts {
    <abp-script-bundle name="@typeof(IndexModel).FullName">
        <abp-script src="/Pages/Regions/Index.js" />
        <abp-script src="/libs/ztree/js/jquery.ztree.core.min.js" />
        <abp-script src="/js/treeSelect.js" />
        @*<abp-script src="/libs/treeSelect/js/treeSelect.2.0.js"/>*@
    </abp-script-bundle>
}

<abp-card id="RegionsWrapper">
    <abp-card-header>
        <abp-row>
            <abp-column size-md="_6">
                <abp-card-title>@L["Regions"]</abp-card-title>
            </abp-column>
            <abp-column size-md="_6" class="text-right">
                @if (await Authorization.IsGrantedAsync(RegionManagementPermissions.Regions.Create))
                {
    <abp-button button-type="Primary" name="CreateRegion" text="@L["NewRegion"].Value" icon="plus" />}
            </abp-column>
        </abp-row>
    </abp-card-header>
    <abp-card-body>
        <form>
            <div class="form-row align-items-center">
                <div class="col-sm-3 my-1">
                    <label class="sr-only" for="inlineFormInputName">Name</label>
                    <input type="text" class="form-control" id="inlineFormInputName" placeholder="Jane Doe">
                </div>
                <div class="col-sm-3 my-1">
                    <label class="sr-only" for="inlineFormInputGroupUsername">Username</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text"></div>
                        </div>
                        <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="Username">
                    </div>
                </div>
                <div class="col-auto my-1">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="autoSizingCheck2">
                        <label class="form-check-label" for="autoSizingCheck2">
                            Remember me
                        </label>
                    </div>
                </div>
                <div class="col-auto my-1">
                    <button type="button" class="btn btn-primary" id="btnSearch">@L["Search"]</button>
                </div>
            </div>
        </form>
        <abp-table striped-rows="true" class="nowrap">
            <thead>
                <tr>
                    <th>@L["Actions"]</th>
                    <th>@L["Name"]</th>
                    <th>@L["Level"]</th>
                </tr>
            </thead>
        </abp-table>
    </abp-card-body>
</abp-card>